.w2xFull {
	width: 200%;
}

.w3xFull {
	width: 300%;
}

.w4xFull {
	width: 400%;
}

.w5xFull {
	width: 500%;
}

.w6xFull {
	width: 600%;
}

// Transform translate classes
.translateX0 {
	transform: translateX(0);
}

.translateX14 {
	transform: translateX(-25%);
}

.translateX12 {
	transform: translateX(-50%);
}
