.w2xFull {
	width: 200%;
}

.w3xFull {
	width: 300%;
}

.w4xFull {
	width: 400%;
}

.w5xFull {
	width: 500%;
}

.w6xFull {
	width: 600%;
}

// Transform translate classes
.translateX0 {
	transform: translateX(0);
}

.translateX1d4 {
	transform: translateX(-25%);
}

.translateX1d2 {
	transform: translateX(-50%);
}

.translateX1d5 {
	transform: translateX(-20%);
}

.translateX2d5 {
	transform: translateX(-40%);
}
