@use "sass:math";

@import "./swiper/swiper";

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;900&display=swap');

// Color variables
$ecolap-gray: #4D4D4D;
$ecolap-gray-hover: #404042;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$instagram-color: #2a5b83;


body {
	font-size: 13px !important;
	font-family: 'Urbanist', sans-serif;
	@apply bg-gray-200 text-gray-700;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-extrabold;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

h6 {
	@apply text-base;
}

a:hover {
	@apply text-primary underline;
}


.btn-ecolap-gray {
	color: #fff;
	background-color: $ecolap-gray;
	border-color: $ecolap-gray;

	&:hover {
		background-color: $ecolap-gray-hover;
		border-color: $ecolap-gray-hover;
		color: #fff;
	}
}


.search-container {
	input[type="text"], .btn {
		padding: 0.4rem 0.8rem !important;
		border: none;
		height: 100%;
		border-radius: 0;

		&:focus-visible {
			border: none;
			outline: none;
		}
	}

	select {
		height: auto;
		padding: 0.57rem !important;
		border-radius: 0;
		border: none;
		@apply bg-gray-300;
	}

	label {
		height: 100%;
	}

	select:focus, select:focus-visible, input:focus, input:focus-visible, .btn:focus, .btn:focus-visible {
		outline: none;
		border: none;
		box-shadow: none;
	}
}

.bar1, .bar2, .bar3 {
	width: 25px;
	height: 4px;
	background-color: #333;
	margin: 2px 0;
	transition: 0.4s;
	display: block;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-38%, 100%);
	transform: rotate(-45deg) translate(-38%, 100%);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-25%, -50%);
	transform: rotate(45deg) translate(-25%, -50%);
}

.hamburger-menu {
	@apply md:hidden cursor-pointer flex-col items-center justify-center;
	color: #212529;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	padding: 0.375rem 0.75rem;
	max-width: 100%;
	height: 40px;

	.fa-search {
		@apply text-xl relative;
		top: 2px;
	}

	&:focus, &:focus-visible {
		outline: none;
		border: none;
		box-shadow: none;
	}
}

.fa-sort-down.nav-icon {
	position: relative;
	top: -2px;
	right: -2px;
}

.fa-sort-up.nav-icon {
	position: relative;
	top: 2.2px;
	right: -2px;
	display: none;
}

.nav-link:hover {
	.fa-sort-up.nav-icon {
		display: inline-block;
	}

	.fa-sort-down.nav-icon {
		display: none;
	}
}

.nav-item:hover {
	> .nav-expand-links-container {
		height: 285px;
		transition: height 0.7s ease;
	}
}

/*********************
* Sales Items Styles *
**********************
*/
.product-item {
	@apply bg-white flex flex-col items-center w-full h-full cursor-pointer overflow-hidden rounded transition-shadow duration-500;

	&:hover {
		box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
	}

	.pricing-info-svg {
		width: 16px;
		height: 16px;
	}
}

/******************
* Footer          *
*******************
*/
.fa-facebook-square {
	color: $facebook-color;
}

.fa-twitter-square {
	color: $twitter-color;
}

.fa-instagram-square {
	color: $instagram-color;
}

// React slick
.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 10px;}
